<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This domain is not allowed in this deployment</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-full flex flex-col px-8 items-center justify-center text-lg">
    <div
      class="bg-red-50 text-center py-6 px-8 rounded-xl border border-red-300 text-red-600"
    >
      <p>In this deployment, you can only use the following URLs.</p>
      <p>The reason for this is to prevent abuse.</p>
      <p class="text-base mt-4">
        <code class="bg-white p-2 px-3 text-gray-700 rounded-md"
          >https://assets.coingecko.com/</code
        >
      </p>
      <p class="text-sm mt-4 block max-w-md">
        Check
        <a
          href="https://github.com/can-erturk/node-images?tab=readme-ov-file#remove-domain-limitation-on-your-deployment"
          class="underline"
          >here</a
        >
        to learn how to remove this limitation in your own deployment version.
      </p>
    </div>
  </body>
</html>
